<section class="container">
    <form class="form" method="post" action="/login">
        <label class="control-label">UserName:</label>
        <input type="text" class="form-control" id="userName" required/>
        <label class="control-label">Password:</label>
        <input class="form-control" type="password" name="password" id="password" required/>
        <div>
        <input type="submit" class="btn btn-success" value="Login"/>&nbsp;
        <input type="reset" class="btn btn-outline-dark" value="Reset"/>
        </div>
    </form>
</section>
